.head-el {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:var(--clr-header);
    color: var(--clr-black);
    padding: 0rem 1rem;
    gap: 10px;
}
.head-el > img {
    width: 40px;
    height: 100%;
}

.head-el >h1 {
    font-weight: 500;
    font-size: 1.5rem;
}